* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 15px;
  font-family: 'Alata', sans-serif;
}

.container {
  width: 85%;
  margin: 0 auto;
}

h1,
h2,
h3 {
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
  line-height: 1.1;
}

h2 {
  font-size: 2.2rem;
}

@media (min-width: 450px) {
  h2 {
    font-size: 2.5rem;
  }
}

img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

section {
  margin-top: 6rem;
  text-align: center;
}

.header {
  background-image: url("../images/mobile/image-hero.jpg");
  height: 100vh;
}

.header__nav {
  padding: 3rem .5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__hamburger {
  display: block;
  width: 40px;
}

.header__hamburger div {
  width: 100%;
  height: 4px;
  border-radius: 5px;
  background: white;
}

.header__hamburger div:not(:first-child) {
  margin-top: 7px;
}

.header__links {
  /* HIDE FOR MOBILE */
  display: none;
}

.header__title {
  color: white;
  border: 1px solid white;
  padding: 1.25rem .5rem 1.25rem 1.25rem;
  margin-top: 4rem;
}

@media (min-width: 700px) {
  .header__title {
    max-width: 550px;
  }
}

.header__title h1 {
  font-size: 2.6rem;
}

@media (min-width: 450px) {
  .header__title h1 {
    font-size: 3rem;
  }
}

@media (min-width: 600px) {
  .header__title h1 {
    font-size: 4rem;
  }
}

.about__image {
  width: 90%;
  display: block;
  margin: auto;
}

.about__title {
  margin: 3rem 0 1.5rem 0;
}

.about__description {
  width: 90%;
  margin: 0 auto;
  line-height: 1.75;
  color: dimgray;
  max-width: 450px;
}

.card__name {
  color: white;
  font-size: 1.7rem;
  text-align: left;
  position: relative;
  top: 7.25rem;
  left: 2rem;
}

@media (min-width: 450px) {
  .card__name {
    top: 8.5rem;
  }
}

@media (min-width: 600px) {
  .card__name {
    top: 11rem;
  }
}

@media (min-width: 700px) {
  .card--mobile {
    display: none;
  }
}

.card--desktop {
  display: none;
}

@media (min-width: 700px) {
  .card--desktop {
    display: inline-block;
  }
}

@media (min-width: 700px) {
  .card--desktop .card__name {
    top: -6rem;
    left: 3rem;
    font-size: 2rem;
  }
}

.creations {
  margin-bottom: 6rem;
}

@media (min-width: 700px) {
  .creations__cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.creations__cta {
  width: 50%;
  padding: 1rem;
  margin: 2rem auto;
  border: 1px solid black;
}

.creations__cta a {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: black;
  font-size: 110%;
}

.footer {
  background-color: black;
  text-align: center;
  padding: 4rem 0;
}

.footer__logo {
  width: 40%;
}

.footer__links {
  margin: 3rem 0;
}

.footer__links li {
  list-style-type: none;
}

.footer__link {
  margin: 1.5rem 0;
}

.footer__link a {
  text-decoration: none;
  color: white;
}

.footer__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 50%;
  margin: 0 auto;
}

.footer__icons ion-icon {
  color: white;
  font-size: 2rem;
}

.footer p {
  color: #8c8c8c;
  margin: 1.5rem 0;
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: #8c8c8c;
}

.attribution a {
  color: #3e52a3;
}
/*# sourceMappingURL=style.css.map */