.about {
  &__image {
    width: 80%;
    max-width: 500px;
    display: block;
    margin: auto;


    @include medium {
      width: 70%;
    }
  }

  &__title {
    margin: 3rem 0 1.5rem 0;
  }

  &__description {
    width: 90%;
    margin: 0 auto;
    line-height: 1.75;
    color: $veryDarkGray;

    max-width: 450px;
  }
}