.card {
  &__name {
    color: $white;
    font-size: 1.7rem;
    text-align: left;

    position: relative;
    top: 110px;
    left: 25px;

    @include small {
      top: 150px;
    }

    @include medium {
      top: -100px;
      padding: 0;
      margin: 0;
    }
  }

  &--mobile {
    @include medium {
      display: none;
    }

  }

  &--desktop {
    display: none;

    @include medium {
      display: inline-block;
    }

  }
}

.creations {
  margin-bottom: 5rem;

  &__title {
    @include medium {
      margin-bottom: 2rem;
    }
  }

  &__cards {
    @include medium {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  &__cta {
    width: 50%;
    padding: 1rem;
    margin: 2rem auto;
    border: 1px solid $black;

    a {
      text-decoration: none;
      text-transform: uppercase;
      letter-spacing: 5px;
      color: $black;
      font-size: 110%;
    }

  }
}