.card {
  &__name {
    color: $white;
    font-size: 1.7rem;
    text-align: left;

    position: relative;
    top: 7.25rem;
    left: 2rem;

    @include small {
      top: 8.5rem;
    }

    @include medium {
      top: 11rem;
    }
  }

  &--mobile {
    @include large {
      display: none;
    }
  }

  &--desktop {
    display: none;

    @include large {
      display: inline-block;
    }

    .card__name {
      @include large {
        top: -6rem;
        left: 3rem;
        font-size: 2rem;
      }
    }
  }
}

.creations {
  margin-bottom: 6rem;

  &__top {
    @include large {
      display: flex;
      justify-content: space-between;
      align-items: center;

      margin-bottom: 3rem;
    }
  }

  &__cards {
    @include large {
      display: grid;
      grid-template-columns: repeat(auto-fill, 256px);
      gap: 1rem;
      justify-content: space-between;
    }
  }

  &__cta {
    width: 40%;
    max-width: 250px;
    padding: 1rem;
    margin: 2rem auto;
    border: 1px solid $black;

    a {
      text-decoration: none;
      text-transform: uppercase;
      letter-spacing: 5px;
      color: $black;
      font-size: 110%;
    }
  }
}

.btn {
  &-mobile {
    @include large {
      display: none;
    }

  }

  &-desktop {
    display: none;

    @include large {
      display: inline-block;

      width: 25%;
      padding: .75rem;
      margin: 0;
    }

  }
}