.footer {
  background-color: $black;
  text-align: center;
  padding: 4rem 0;

  &__logo {
    width: 40%;

    @include small {
      width: 35%;
    }

    @include medium {
      width: 30%;
    }
  }

  &__links {
    margin: 3rem 0;

    li {
      list-style-type: none;
    }
  }

  &__link {
    margin: 1.5rem 0;

    a {
      text-decoration: none;
      color: $white;
    }
  }

  &__icons {
    display: flex;
    justify-content: space-around;

    width: 50%;
    margin: 0 auto;

    ion-icon {
      color: $white;
      font-size: 2rem;
    }
  }

  p {
    color: $darkGray;
    margin: 1.5rem 0;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: $darkGray;

  a {
    color: hsl(228, 45%, 44%);
  }
}