.footer {
  background-color: $black;
  text-align: center;
  padding: 4rem 0;

  @include desktop {
    padding: 3rem 0;
  }

  .container {
    @include desktop {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__left {
    @include desktop {
      text-align: left;
    }
  }

  &__logo {
    width: 40%;
  }

  &__links {
    margin: 3rem 0;

    @include desktop {
      display: flex;
      justify-content: space-between;

      margin: 0;
    }

    li {
      list-style-type: none;
    }
  }

  &__link {
    margin: 1.5rem 0;

    @include desktop {
      margin-right: 1.5rem;
    }

    a {
      text-decoration: none;
      color: $white;
    }
  }

  &__icons {
    display: flex;
    justify-content: space-around;

    width: 50%;
    margin: 0 auto;

    @include desktop {
      margin: 0;
      width: 100%;
      justify-content: flex-end;
    }

    ion-icon {
      color: $white;
      font-size: 2rem;

      @include desktop {
        margin-left: 1rem;
      }
    }
  }

  p {
    color: $darkGray;
    margin: 1.5rem 0;
  }
}