body {
  font-size: 15px;
  font-family: 'Alata', sans-serif;
}

.container {
  width: 85%;
  margin: 0 auto;
}

h1,
h2,
h3 {
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
}

h2 {
  font-size: 2rem;

  @include small {
    font-size: 2.5rem;
  }
}

img {
  max-width: 100%;
  object-fit: cover;
}

section {
  margin-top: 6rem;
  text-align: center;
}