.header {
  background-image: url('../images/mobile/image-hero.jpg');
  background-size: cover;
  height: 100vh;

  @include large {
    background-image: url('../images/desktop/image-hero.jpg');
  }

  &__nav {
    padding: 3rem .5rem;

    display: flex;
    justify-content: space-between;
  }

  &__hamburger {
    display: block;
    width: 40px;

    div {
      width: 100%;
      height: 4px;
      border-radius: 5px;
      background: $white;

      &:not(:first-child) {
        margin-top: 7px;
      }
    }

    @include extra-large {
      display: none;
    }
  }

  &__links {
    display: none;

    a {
      text-decoration: none;
      color: $white;

      margin: 0 1rem;
    }

    @include extra-large {
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
  }

  &__title {
    color: $white;
    border: 1px solid $white;
    padding: 1.25rem .5rem 1.25rem 1.25rem;
    margin-top: 5rem;

    @include medium {
      margin-top: 4rem;
      max-width: 550px;
    }

    @include extra-large {
      max-width: 650px;
    }

    h1 {
      font-size: 2.6rem;

      @include small {
        font-size: 3rem;
      }

      @include medium {
        font-size: 4rem;
      }

      @include extra-large {
        font-size: 5rem;
      }

    }
  }
}